.container {
  width: 128rem;
  height: 48rem;
  margin: 0 auto;
}

.comment__write {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.comment__write__title {
font-family: Pretendard Variable;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

  width: 6rem;
  height: 2.4rem;
}

.comment__write__rate {
  width: 100%;
  height: 2.4rem;
  display: flex;
}

.comment__write__form {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 30.4rem;
  
}

.comment__write__form__input {
  height: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.comment__write__form__input__top {
  display: flex;
  gap: 1.6rem;
}

.comment__write__form__input__top__left {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.comment__write__form__input__top__left > h3{
  font-family: Pretendard Variable;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #333333;
}
.comment__write__form__input__top__left > input{
  width: 31.2rem;
  height: 4.8rem;
}
.comment__write__form__input__top__right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.comment__write__form__input__top__right > h3{
  font-family: Pretendard Variable;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #333333;
}
.comment__write__form__input__top__right > input{
  width: 31.2rem;
  height: 4.8rem;
}

.comment__write__form__input__bottom {
  position: relative;
  
}
.comment__write__form__input__bottom > input{
  width: 100%;
  height: 14.4rem;
  font-family: Pretendard Variable;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 0.8rem;  

  padding: 1.2rem 1.6rem;
  
  
}
.comment__write__form__input__bottom > div {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
  font-size: 16px;
  color: #ABABAB;
}


.comment__write__form__button {
    width: 9.9rem;
    height: 4.8rem;
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  background-color: #C7C7C7;
  color: #E4E4E4;
  cursor: pointer;
  position: absolute;
  right:0;
  bottom: 0;
}

.comment__write__none {
  display: block;
}
.comment__write__none__hidden {
  display: none;
}

.active{
     width: 9.9rem;
    height: 4.8rem;
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  cursor: pointer;
  position: absolute;
  right:0;
  bottom: 0;

  background-color: #2974E5;
  color: white;
}

.comment__write__form__buttons {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
  justify-content: end;
}