
.box{
    /* margin-top: 2.4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}
.container{
    max-width:192rem;
    height: 73.6rem;
    padding: 2.4rem 0rem 4rem 0rem;
}
.board_container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.board{
    max-width: 128rem;
    height: 69.6rem;
    padding: 2.4rem 4.8rem;
    background-color: white; /* 그림자가 잘 보이도록 배경 지정 */
  border-radius: 8px;      /* 모서리 둥글게 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* x, y, blur, color */
}
.board__main{
    max-width: 118.4rem;
    height: 60.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.board__main__titlebox{
    width: 118.4rem;
    height: 5.2rem;
    display: flex;
    gap: 0.8rem;
    padding: 1.2rem 2.4rem;
}
.board__main__titlebox__number{
    width: 6.4rem;
    height: 2rem;
    text-align: center;
font-family: Pretendard Variable;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;

}
.board__main__titlebox__title{
    width: 84.8rem;
    height: 2rem;
font-family: Pretendard Variable;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
}
.board__main__titlebox__writer{
    width: 10rem;
    height: 2rem;
    text-align: center;
font-family: Pretendard Variable;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
}
.board__main__titlebox__date{
    width: 10rem;
    height: 2rem;
    text-align: center;
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
}
.board__main__articlebox{
    max-width: 118.4rem;
    height: 54.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

.board__main__articlebox__item{
    width: 118.4rem;
    height: 4.4em;
    display: flex;
    gap: 0.8rem;
    border: 1px solid #F2F2F2;
    align-items: center;
    padding: 1.2rem 2.4rem;
    position: relative;
    
}
.board__main__articlebox__item__number{
    width: 6.4rem;
    height: 2rem;
    text-align: center;
    color: #919191;
    font-family: Pretendard Variable;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;


}
.board__main__articlebox__item__title{
    width: 84.8rem;
    height: 2rem;
    font-family: Pretendard Variable;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    color: #1C1C1C;
    cursor: pointer;
}
.board__main__articlebox__item__writer{
    width: 10rem;
    height: 2rem;
    text-align: center;
    color: #333333;
    font-family: Pretendard Variable;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 20px;
}
.board__main__articlebox__item__date{
    width: 10rem;
    height: 2rem;
    text-align: center;
    color: #919191;
    font-family: Pretendard Variable;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 20px;
}
.board__main__articlebox__item__delete{
    position: absolute;
    right: -1.2rem;
    display: none;
    background-color: transparent;
}   
.board__main__articlebox__item:hover .board__main__articlebox__item__delete{
    display: block;
}