.container{
  width: 192rem;
  margin: 0 auto;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.navigation{
   width: 128rem;
   height: 8rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.main{
  width: 36.4rem;
  height: 4rem;
  display: flex;
  align-items: center; 
  /* gap: 2.4rem; */
  justify-content: space-between;
}

.main__logoWithMenu{
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.main__logo{
  cursor: pointer; 
}
.main__menu{
  display: flex;
  gap: 1.6rem;
}
/* .main__login{

} */
.main__menu__item{
font-family: Pretendard Variable;
font-weight: 700;
font-style: Bold;
font-size: 16px; 
line-height: 24px;
letter-spacing: 0%;
text-align: center;

}

.login__profileBtn{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.login__profileBtn > img:first-child{
  width: 4rem;
  height: 4rem;
}
.login__profileBtn > img:last-child{
  width: 2.4rem;
  height: 2.4rem;
}
.login__loginBtn{
  /* appearance: none; */
   width: 9.3rem;
   height: 4rem;
   background-color: black;
   color: white; 
   border-radius: 10rem;
   padding: 0.8rem 1.2rem;
   

font-family: Pretendard Variable;
font-weight: 600;
font-style: SemiBold;
font-size: 14px;

line-height: 20px;
letter-spacing: 0%;
text-align:center;
   
}
.login__profileBtn__menu{
  display: flex;
}

/* 모달 오버레이 */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
