@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


*{
  /* font-size: 10px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* :root, html, body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, 'Noto Sans KR', 'Helvetica Neue', Arial, sans-serif;
} */

:root {
  --font-base: 10px;  
  --icon-base: 18px;
  /* 색상 토큰 */
  --color-primary-blue: #2974e5;
  --color-border-light: #e4e4e4;
}

html {
  font-size: var(--font-base);
  font-family: Pretendard Variable;
}

.anticon {
  font-size: var(--icon-base);
  /* width: 9px; */
  /* height: 18px; */
}

h2{
  font-family: Pretendard Variable;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;

  color: #5F5F5F;
}
/* body{
  padding: 4rem 32rem;
  display: flex;
  flex-direction: column;
  
} */
h2{
  font-family: Pretendard Variable;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  gap: 0.4rem;

  
}
h2 > img {
  object-fit: contain;
}
button {
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-family: Pretendard Variable;
  font-weight: 600;
  font-style: SemiBold;
  
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #fff;
  white-space: nowrap;
  
}
input{
  width: 100%;
  height: 4.8rem;
  border: 1px solid #D4D3D3;
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
}
hr{
  border: 1px solid #E4E4E4;
}
header{
  padding: 4rem 0;
}
header > h1 {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 0%;
  
}

main{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
input::placeholder{
  color: #ABABAB;
  font-family: Pretendard Variable;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0%;
  

}
section{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  color: white !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}
